@media (max-width: 600px){
    header {
       display: flex;
       flex-direction: column;     
    }

    .principal {
        display: grid;
        grid-template-columns: 100%;
    }

    header img {
        width: 50px;
    }

    .principal-esquerda textarea {
        width: 300px;
    }

    .principal-direita  img {
        visibility: hidden;
    }

    .principal-direita {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .principal-direita textarea {
        width: 300px;
        margin-left: 100px;
        
    }

    .principal-direita-paragrafo {
        text-align: center;
    }   

}

@media only screen and (max-width : 992px){
    .principal{
       display: flex;
       flex-direction: column;
       
       }    
 
    .principal-direita textarea {
        width: 400px;
        margin-left: 200px;      
        
        }

    .principal-esquerda textarea {
        width: 400px;
       
        
    }

    .button-copy {
        margin-left: 290px;
        
    }

    .principal-direita-paragrafo {
        text-align: center;
    }
   
   

    
}

